div {
width: 600px;
box-sizing: border-box;
margin: 10px auto;
}

 .satu {
    background-color: royalblue;
    padding: 10px;
    border: 5px solid red;
 }
 .dua {
    background-color: lightcyan;
    padding: 30px;
    border: 10px dashed orange;
 }